[submodule "third-party/glpp-extended"]
	path = third-party/glpp-extended
	url = https://github.com/CoolLibs/glpp-extended
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "third-party/img"]
	path = third-party/img
	url = https://github.com/CoolLibs/img
[submodule "third-party/CMakeUtils"]
	path = third-party/CMakeUtils
	url = https://github.com/CoolLibs/CMakeUtils
[submodule "third-party/op"]
	path = third-party/op
	url = https://github.com/CoolLibs/op
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/CoolLibs/imgui
[submodule "third-party/exe_path"]
	path = third-party/exe_path
	url = https://github.com/CoolLibs/exe_path
[submodule "tooling"]
	path = tooling
	url = https://github.com/CoolLibs/tooling
