[submodule "third-party/glpp-extended"]
	path = third-party/glpp-extended
	url = https://github.com/CoolLibs/glpp-extended
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "third-party/img"]
	path = third-party/img
	url = https://github.com/CoolLibs/img
[submodule "third-party/CMakeUtils"]
	path = third-party/CMakeUtils
	url = https://github.com/CoolLibs/CMakeUtils
[submodule "third-party/op"]
	path = third-party/op
	url = https://github.com/CoolLibs/op
